.title {
    font-size: 45px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 32px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.art_body {
    height: auto;
    background-color: #A2D6DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.art_container {
    height: 100px;
}

.art_container h1 {
    font-size: 26;
}