.footerbody {
    background-color: rgb(255, 250, 239); /* #fdcdd3;*/
    height: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    border-top: 2px solid #123D60;
}

@keyframes walking{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

.catanim {
    height: 42px;
    width: 90px;
    background: url(../images/cat_walking.png) 0 0 no-repeat;
    animation: walking steps(11)  infinite 2s;
    z-index: -5;
}


.socialbar-container {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.socialbar {
    width: auto;
}

.footerLink {
    font-size: 32px;
    text-decoration: none;
    color: #DE5B6D;
    margin: 8px;
}

@media screen and (max-width: 480px) {
    .text {
        font-size: 14px;
    }

    .footerbody {
        height: 128px;
    }
}