
.footerbody {
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    border-bottom: 8px solid black;
}

@keyframes walking{
    0% {
        background-position: 0 0;
        transform: translateX(0%);
    }
    100% {
        background-position: 0 100%;
        transform: translateX(97vw);
    }
}

.cat_box {
    width: 100%;
}

.catanim {
    height: 42px;
    width: 10%;
    background: url(../images/cat_walking.png) 0 0 no-repeat;
    animation: walking steps(11)  infinite 10s;
    z-index: -5;
}

#second {
    background: url(../images/cat_walking.png) 0 0 no-repeat;
    animation: walking_second steps(11)  infinite 10s;
}

.socialbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30%;
    width: 10%;
}

.footerLink {
    font-size: 32px;
    text-decoration: none;
    color: #F2A490;
}