.headerbody {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 249, 234); /*#fdcdd3;*/
    border-bottom: 2px solid #123D60;
}

.name {
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    font-size: 18px;
}

.hdivisor {
    width: 2px;
    height: 70%;
    border-left: 2px solid #DE5B6D;
}

.tab-container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: right;
    margin-left: auto;
}

.tab {
    width: auto;
    text-align: center;
    padding: 0px 16px;
    font-size: 18px;
}

#hphotography {
    width: 20%;
}

.link {
    color: #DE5B6D;
    text-decoration: none;
}
.link:hover {
    color: #123D60;
}

.iconLink {
    text-decoration: none;
    color: #DE5B6D;
}
.iconLink:hover {
    color: #123D60;
}

@media screen and (max-width: 510px) {
    .tab {
        font-size: 15px;
        padding: 0px 8px;
    }

    .name {
        font-size: 15px;
        padding: 8px;
    }
}