/*-----------------------------HEADER---------------*/

.headerbody {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fdf4ec;
    border-bottom: 2px solid #123D60;
}

.name {
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    font-size: 18px;
}

.hdivisor {
    width: 2px;
    height: 70%;
    border-left: 2px solid #DE5B6D;
}

.tab-container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: right;
    margin-left: auto;
}

.tab {
    width: auto;
    text-align: center;
    padding: 0px 16px;
    font-size: 18px;
}

#hphotography {
    width: 20%;
}

.iconLink {
    text-decoration: none;
    color: #DE5B6D;
}
.iconLink:hover {
    color: #123D60;
}

@media screen and (max-width: 510px) {
    .tab {
        font-size: 15px;
        padding: 0px 8px;
    }

    .name {
        font-size: 15px;
        padding: 8px;
    }
}


/*-----------------------------FOOTER---------------*/
.footerbody {
    background-color: #fdf4ec; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    border-top: 2px solid #123D60;
}

@keyframes walking{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

.catanim {
    height: 42px;
    width: 90px;
    background: url(../images/cat_walking.png) 0 0 no-repeat;
    animation: walking steps(11)  infinite 2s;
    z-index: -5;
}


.socialbar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.socialbar {
    width: auto;
}

.footerLink {
    font-size: 32px;
    text-decoration: none;
    color: #DE5B6D;
    margin: 8px;
}

@media screen and (max-width: 480px) {
    .text {
        font-size: 14px;
    }

    .footerbody {
        height: 128px;
    }
}