

.flex {
  height: 40vh;
  display: flex;
  flex-direction: row;
  background-color: #478ba2;
  padding: 16px 64px;
  align-items: center;
  justify-content: space-evenly ;
}

@keyframes slidedown{
  from {
    transform: translateY(30%);
    opacity: 0%;
  }
  to {
    transform: translateY(80%);
    z-index: 1; 
    opacity: 100%;
  }
}

@keyframes stay {
  from {
    transform: translateY(80%);
    z-index: 1; 
    opacity: 100%;
  }
  to {
    transform: translateY(80%);
    z-index: 1; 
    opacity: 100%;
  }
}

.bioimage {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 32px;
}

.bioimage img {
  width: 250px;
  border: 2px solid white;
  border-radius: 50%; 
}

.Introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 90%;
  color: #ffffff;
  border-radius: 16px; 
  position: relative;
  font-size: 20px;
}

.intro-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 30%;
}

.intro-bottom {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  text-align: top;
}

#categories {
  height: 100vh;
  background-color: #b9d4db;
  flex-direction: column;
  padding: 16px;
}

.divisor {
  width: 90%;
  height: 2%;
  border-top: 2px solid white;
}

.category {
  height:50%;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.category-description {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  font-size: 18px;
}

.photo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 32px;
}

.photo img {
  padding: 8px;
  width: 180px;
  border-radius: 50%;
}

@media screen and (max-width: 830px) {
  .bioimage img {
    width: 200px; 
  }

  .intro-top {
    font-size: 14px;
  }

  .intro-bottom {
    font-size: 16px;
  }

  .photo img{
    width: 140px;
  }

  .category-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 580px) {
  .bioimage img {
    width: 200px; 
  }

  .flex {
    padding: 32px;
    flex-direction: column;
    height: auto;
  }

  .category-description {
    text-align: center;
  }
  .category-description h3 {
    margin-bottom: 0px;
  }

  .photo {
    padding: 0px !important;
  }

  .category {
    padding-bottom: 16px; 
    flex-direction: column;
  }

  #projects {
    flex-direction: column-reverse;
  }

  #categories {
    height: auto;
  }
}