.photobody {
    height: auto;
    background-color: #A2D6DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.album_container {
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 16px;
    -webkit-box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

.picture {
    height: 300px; 
    margin: 8px;
    -webkit-box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

@media screen and (max-width: 480px) {
    .picture {
        width: 200px;
    }
}